# Files and directories created by pub.
.dart_tool/
.packages
pubspec.lock

# intellij
.idea/

# Conventional directory for build output.
build/

# lavalink dir
lavalink/

# feedback log file, can be read back with extra/get_feedback.dart
feedback.log
